@using Finomal.UI.Blazor.Components.model
<Dialog @ref="dialog">
    <Title>انتخاب پرسنل</Title>
    <Body>
        @* Add search input here if needed *@
        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-sm table-hover">
                <thead><tr><th>کد</th><th>نام و نام خانوادگی</th><th></th></tr></thead>
                <tbody>
                    @foreach (var person in AvailablePersonnel)
                    {
                        <tr>
                            <td>@person.PersonnelCode</td>
                            <td>@person.Identity.FirstName @person.Identity.LastName</td>
                            <td><button class="btn btn-sm btn-success" @onclick="() => SelectPerson(person)">انتخاب</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </Body>
</Dialog>
@code {
    [Parameter] public List<Person> AvailablePersonnel { get; set; } = new();
    [Parameter] public EventCallback<Person> OnPersonSelected { get; set; }
    private Dialog dialog = new();
    public void Open() => dialog.Open();
    private async Task SelectPerson(Person person)
    {
        await OnPersonSelected.InvokeAsync(person);
        dialog.Close();
    }
}
